<table class="uk-table uk-table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        {{range .}}
            {{template "customer.go.tmpl" .}}
            {{else}}
            <tr colspan="2">
                <td>No customers saved.</td>
            </tr>
        {{end}}
    </tbody>
</table>
