<table class="uk-table uk-table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {{range .}}
            {{template "user.go.tmpl" .}}
        {{end}}
    </tbody>
</table>
