{{ define "main" }}
  <h2 class="uk-h2">{{ if . }}Edit{{ else }}New{{ end }} Customer</h2>
  <form
    class="uk-form-stacked uk-margin"
    {{ if . }}
      hx-put="/customers/"
    {{ else }}
      hx-post="/customers/"
    {{ end }}
    hx-disabled-elt="#submit"
  >
    {{ if . }}
      <input type="hidden" name="id" value="{{ .ID }}" />
    {{ end }}
    <div class="uk-margin">
      <label class="uk-form-label" for="customer-first-name">
        First Name
      </label>
      <div class="uk-form-controls">
        <input
          class="uk-input"
          id="customer-first-name"
          name="first-name"
          type="text"
          {{ if . }}
            value="{{ .FirstName }}"
          {{ end }}
        />
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="customer-last-name"> Last Name </label>
      <div class="uk-form-controls">
        <input
          class="uk-input"
          id="customer-last-name"
          name="last-name"
          type="text"
          {{ if . }}
            value="{{ .LastName }}"
          {{ end }}
        />
      </div>
    </div>
    <div class="uk-margin uk-grid uk-grid-small">
      <div class="uk-form-controls">
        <button id="submit" class="uk-button uk-button-primary">
          <span class="size-4 uk-margin-small-right custom-indicator">
            <div uk-spinner="ratio: 0.5"></div>
          </span>
          {{ if . }}
            Update
          {{ else }}
            Create
          {{ end }}
        </button>
      </div>
      <div class="uk-form-controls">
        <button class="uk-button uk-button-default" onclick="history.back()">
          Cancel
        </button>
      </div>
    </div>
  </form>
{{ end }}
