{{ define "main" }}
  <h2 class="uk-h2 uk-margin-bottom">Customer</h2>
  <a
    class="uk-button uk-button-default uk-margin-bottom"
    hx-boost="true"
    hx-get="/customers/{{ .ID }}/edit"
    hx-push-url="true"
    hx-target="#main"
  >
    Edit
  </a>
  <table class="uk-table uk-table-hover">
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
    </tr>
    <tr>
      <td>{{ .FirstName }}</td>
      <td>{{ .LastName }}</td>
    </tr>
  </table>
{{ end }}
