{{ define "main" }}
  <div class="uk-card uk-card-body uk-card-danger">
    <h2 class="uk-card-title">Not Found</h2>
    <p class="uk-margin">
      The resource you're trying to access cannot be found.
    </p>
  </div>
{{ end }}
