:root {
    font-family: Inter, sans-serif;
    font-feature-settings:
        "liga" 1,
        "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

.custom-indicator {
    display: none;
}
.htmx-request .custom-indicator {
    display: inline;
}
.htmx-request.custom-indicator {
    display: inline;
}
